# environment variables file
.env

# config data
*.config
*.config.js

# Dependency directories
node_modules/

# Logs
logs
*.log
*.log.*
npm-debug.log*

# Runtime data
*.pid
*.pid.lock

# processed css
*.css
*.css.*
