// landing.sass
// Imports *******************************************************************

@import "./variables.sass"

// sidebar (aside) *************************************************************

#sidebar
  // when the side bar is expanded
  &.open
    grid-column: 1 / 8
    #login, #register, #aside-footer, hr
      visibility: visible
    #closed-sidebar-icon
      visibility: hidden
      display: none
  // change sub-container column width when open
  &.open + #sub-container
    grid-column: 8 / -1
  // when the side bar is closed
  &.close
    grid-column: 1 / 1
    #login, #register, #aside-footer, hr
      visibility: hidden
      display: none
    #closed-sidebar-icon
      visibility: visible

#closed-sidebar-icon
  visibility: hidden
  margin: auto

#login, #register, #aside-footer
  padding: 8px

#login, #register
  min-height: 250px
  align-items: stretch
  form
    align-items: stretch
    input, button
      padding: 6px 2px
      margin: 4px
      font-size: 1em
      text-align: center

/** login *************/

#login
  margin-top: 25px
  form button
    padding: 10px 2px
    font-size: 1.5em
  h2
    margin-bottom: 5%
  p
    margin: 20px 4px 6px 4px

/** register *************/

#register
  h4
    margin-bottom: 2.5%

/** aside-footer *************/

#aside-footer
  width: 100%
  margin-top: auto
  margin-bottom: 5%

#developer-digital-footprint
  align-items: stretch
  width: inherit
  h4
    margin-bottom: 5%

#profile-urls-list
  justify-content: space-around
  li
    padding: 0 8px
    list-style-type: none
    a
      color: $pri-light
      user-select: none
      cursor: pointer
    i
      font-size: 45px
      &:hover
        color: $pri-dark
        transition: 0.3s

// main (sub-container) ********************************************************

#sub-container
  text-align: left
